@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background:
    linear-gradient(rgba(0,0,0,.75), rgba(0,0,0,.75)),
    url("https://images.unsplash.com/photo-1550547660-d9450f859349");
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 5px;
}

.sub {
  text-align: center;
  opacity: .8;
  margin-bottom: 20px;
}

.card {
  background: #1f1f1f;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,.4);
}

.card h3 {
  margin: 0;
  font-size: 1.2rem;
}

.card p {
  font-size: .9rem;
  opacity: .8;
}

.preco {
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 5px;
}

.btn {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.btn-whats {
  background: #25d366;
  color: #000;
  margin-top: 15px;
}

input, select {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
}
