@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;

  /* FUNDO COM FOTO DE HAMBÚRGUER */
 background-image:
  linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.85)),
  url("../assets/fundo.jpg");
background-image:
  linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.85)),
  url("../assets/fundo.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: #fff;
}

/* CONTAINER CENTRAL */
.container {
  max-width: 520px;
  margin: auto;
  padding: 20px;
}

/* TÍTULOS */
h1 {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 5px;
}

.sub {
  text-align: center;
  opacity: 0.85;
  margin-bottom: 25px;
}

/* CARDS TRANSPARENTES (GLASS) */
.card {
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border-radius: 18px;
  padding: 16px;
  margin-bottom: 16px;

  box-shadow: 0 15px 30px rgba(0,0,0,0.6);
}

/* PRODUTOS */
.card h3 {
  margin: 0;
  font-size: 1.2rem;
}

.card p {
  font-size: 0.9rem;
  opacity: 0.85;
}

.preco {
  font-weight: 700;
  margin: 8px 0;
}

/* BOTÕES */
.btn {
  width: 100%;
  padding: 14px;
  border-radius: 14px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.btn-add {
  background: rgba(255,255,255,0.18);
  color: #fff;
}

.btn-whats {
  background: #25d366;
  color: #000;
  margin-top: 12px;
}

/* INPUTS */
input, select {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  margin-bottom: 10px;
}

/* TOTAL */
.total {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: right;
}
