body{
  margin:0;
  font-family:Arial, sans-serif;
  background:#0f0f0f;
  color:#fff;
}
.container{
  max-width:900px;
  margin:auto;
  padding:20px;
}
h1,h2{
  text-align:center;
  color:#ffd700;
}
.category{
  background:#1f1f1f;
  padding:15px;
  border-radius:12px;
  margin-top:15px;
  cursor:pointer;
}
.products{
  display:none;
  margin-top:10px;
}
.product{
  background:#2b2b2b;
  border-radius:10px;
  padding:10px;
  margin:6px 0;
}
.desc{
  font-size:14px;
  color:#ccc;
}
.price{
  color:#ffd700;
  font-weight:bold;
}
.qty{
  display:flex;
  align-items:center;
  margin-top:6px;
}
.qty button{
  width:30px;
  height:30px;
  background:#d32f2f;
  border:none;
  color:#fff;
  font-size:18px;
}
.qty input{
  width:40px;
  text-align:center;
  margin:0 5px;
}
input, select, button{
  width:100%;
  padding:10px;
  margin-top:8px;
  border-radius:8px;
  border:none;
}
button{
  background:#25D366;
  color:#000;
  font-size:16px;
}
