body {
  font-family: Arial;
  background: #111;
  color: #fff;
  padding: 20px;
}

.card {
  background: #222;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
}

input, button {
  padding: 8px;
  margin: 5px 0;
  width: 100%;
}
